<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoicG9ydGFsIiwibG9jYXRpb24iOnsicmVtb3RlIjpbeyJ1cmxTdHJpbmci
		OiJodHRwczpcL1wvZ2l0aHViLmNvbVwvQWVhc3RyXC9Qb3J0YWwifV19LCJw
		cm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVudCI6eyJyYW5nZSI6W3si
		bG93ZXJCb3VuZCI6IjQuMi42IiwidXBwZXJCb3VuZCI6IjUuMC4wIn1dfX1d
		fV0sImRpc3BsYXlOYW1lIjoiRWxlbWVudHMiLCJwYWNrYWdlS2luZCI6eyJy
		b290Ijp7fX0sInBsYXRmb3JtcyI6W3sib3B0aW9ucyI6W10sInBsYXRmb3Jt
		TmFtZSI6ImlvcyIsInZlcnNpb24iOiIyNi4wIn1dLCJwcm9kdWN0cyI6W3si
		bmFtZSI6IkVsZW1lbnRzIiwic2V0dGluZ3MiOlt7ImJ1bmRsZUlkZW50aWZp
		ZXIiOlsib21lcmlhZG9uLkVsZW1lbnRzIl19LHsidGVhbUlkZW50aWZpZXIi
		OlsiQzJITjU0N040OSJdfSx7ImRpc3BsYXlWZXJzaW9uIjpbIjEuMCJdfSx7
		ImJ1bmRsZVZlcnNpb24iOlsiMSJdfSx7ImlPU0FwcEluZm8iOlt7ImFjY2Vu
		dENvbG9yIjp7ImFzc2V0Ijp7Im5hbWUiOiJBY2NlbnRDb2xvciJ9fSwiYXBw
		Q2F0ZWdvcnkiOnsicmF3VmFsdWUiOiJwdWJsaWMuYXBwLWNhdGVnb3J5LmVk
		dWNhdGlvbiJ9LCJhcHBJY29uIjp7ImFzc2V0Ijp7Im5hbWUiOiJBcHBJY29u
		In19LCJjYXBhYmlsaXRpZXMiOltdLCJzdXBwb3J0ZWREZXZpY2VGYW1pbGll
		cyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VPcmllbnRh
		dGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdodCI6e319
		LHsibGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVEb3duIjp7
		ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19fV19XX1d
		LCJ0YXJnZXRzIjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1dGFibGUi
		Om51bGx9fV0sInRhcmdldE1hcCI6eyJBcHBNb2R1bGUiOnsiZGVwZW5kZW5j
		aWVzIjpbeyJwcm9kdWN0IjpbIlBvcnRhbCIsInBvcnRhbCIsbnVsbCxudWxs
		XX0seyJwcm9kdWN0IjpbIlBvcnRhbEZsb3dpbmdIZWFkZXIiLCJwb3J0YWwi
		LG51bGwsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUi
		LCJwYWNrYWdlQWNjZXNzIjp0cnVlLCJwYXRoIjoiLiIsInJlc291cmNlcyI6
		W10sInNldHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifX0sInRhcmdl
		dHMiOlt7ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJQb3J0YWwiLCJw
		b3J0YWwiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJQb3J0YWxGbG93aW5n
		SGVhZGVyIiwicG9ydGFsIixudWxsLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJu
		YW1lIjoiQXBwTW9kdWxlIiwicGFja2FnZUFjY2VzcyI6dHJ1ZSwicGF0aCI6
		Ii4iLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W10sInR5cGUiOiJleGVj
		dXRhYmxlIn1dLCJ0b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI2LjAuMCJ9
		fQ==
		</data>
		<key>manifestHash</key>
		<data>
		TkBijHz0uCuLen7A+EQ2d/2RxqQlOjFxhlIHRNcwVGQ=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>6.0.2-dev</string>
	</dict>
</dict>
</plist>
