<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DocumentThumbnailConfiguration</key>
	<dict>
		<key>accentColorHash</key>
		<data>
		GPrKc61okVg6wA2L3t2hKRD5PYivvZc+TjJekVUpxhc=
		</data>
		<key>appIconHash</key>
		<data>
		Vexii8K333nsREBjrrG8Rtf23pDAG9fXTpSNr1nulCw=
		</data>
		<key>thumbnailIsPrerendered</key>
		<false/>
	</dict>
</dict>
</plist>
